.Memes {
    display: flex;
    align-items: center;
    height: 60%;
    padding: 0 40px;
    overflow-x: auto;
}

.Memes__meme {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    padding: 0 40px;
}

.Memes__meme:last-child {
    padding-right: 80px;
}
